<div class="category-banner-block wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
<h3>{{ box_title }}</h3>
<div class="row">
  {% for category in categories %}
    <div class="product-layout col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="product-thumb transition">
         <div class="caption categoryname">
          <h4><a href="{{ category.href }}">{{ category.name }}</a></h4>
        </div>
        <div class="image"><a href="{{ category.href }}"><img src="{{ category.thumb2 }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive"/></a></div>       
      </div>
    </div>
  {% endfor %}
</div>
</div>
